@font-face {
    font-family: GT-Walsheim-Pro;
    src: url(font/GT-Walsheim-Pro.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-family: 'GT-Walsheim-Pro', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

header .cta {
    background: #666BFF;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    color: white;
    font-size: 14px;
}

.cta a {
    color: white;
}

.cta .flex-item {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

header .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 2px 6px rgba(157, 159, 216, 0.15);
    padding: 0 120px;
    cursor: pointer;
    position: relative;
    background: #fff;

}

nav {
    justify-content: space-between;
    display: flex;
    column-gap: 40px;
    color: #334155;
}

nav a {
    color: #334155;
}

.hamburger {
    display: none;
}

.getStarted {
    border: none;
    outline: none;
    height: 36px;
    width: 133px;
    white-space: nowrap;
    background: #666BFF;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    font-size: 14px;

}

.getStartedMob {
    display: none;
}


/* Main Section */
main {
    position: relative;
}

main .blur {
    position: absolute;
    top: -139px;
    max-width: 360px;
    max-height: 360px;
    z-index: -10 !important;
}

main .blur2 {
    position: absolute;
    right: 0;
    top: -139px;
    max-width: 360px;
    max-height: 360px;
    z-index: -10 !important;
}

main .spiral {
    position: absolute;
    top: 23px;
    left: 198px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 62px 0 120px;
    column-gap: 11px;
    margin-top: 120px;
    margin-bottom: 50px;

}

.hero .mask2 {
    max-width: 505px;
    min-height: 543px;
}

.hero .text {
    width: 575px;
    height: 290px;
}

.hero .text h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #2B2D6B;
    margin-bottom: 16px;
}

.hero .text p {
    width: 516px;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #334155;
    margin-bottom: 40px;
}

.products {
    width: 100%;
    background: linear-gradient(180deg, rgba(240, 240, 255, 0.4) 0%, rgba(255, 255, 255, 0.3) 100%);
    padding-top: 37px;
}

.products-intro {
    margin-bottom: 70px;
}

.products-intro h2 {
    max-width: 372px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #2B2D6B;
    margin-bottom: 16px;
}

.products-intro .text {
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #515A65;
    text-align: center;
    margin-bottom: 48px;

}

.incorporation {
    display: flex;
    justify-content: space-between;
    column-gap: 83px;
    padding: 0 170px;
}

.incorporation .main-img {
    min-height: 470px;
    width: 470px;

}


.incorp-details {
    margin-bottom: 48px;
}

.incorp-details h4 {
    position: relative;
    width: fit-content;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #334155;
    margin-bottom: 10px;

}

.incorp-details h4::before {
    position: absolute;
    content: '';
    height: 5px;
    width: 109px;
    left: 6.4px;
    top: 12px;
    border-radius: 0px;
    background: #F3AAFF;
    opacity: 0.5;
}

.incorp-details h3 {
    padding-bottom: 24px;
    border-bottom: 1px solid #CBD5E1;
    font-weight: 500;
    font-size: 28px;
    line-height: 44px;
    color: #0B1239;
}

.incorp-details .incorp-list {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    column-gap: 12px;
    align-items: start;
}

.incorp-list .left {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.incorp-list .list {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.list img {
    max-width: 16px;
    max-height: 16px;
}

.list p {
    color: #475569;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.more {
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin-top: 50px;

}

.more img {
    max-width: 24px;
    max-height: 24px;
}

.more a {
    color: #666BFF;
    text-decoration: underline;
    text-decoration-color: #666BFF;
    font-size: 18px;
}


.reasons {
    padding: 0 170px;
    display: flex;
    justify-content: space-between;
    column-gap: 120px;
    width: 100%;
    margin-bottom: 101px;
}

.reasons .title h5 {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #334155;
    margin-bottom: 12px;
}

.reasons .title h5::before {
    position: absolute;
    content: '';
    position: absolute;
    height: 7px;
    width: 86px;
    left: 4%;
    bottom: 0;
    background: #F3AAFF;
    opacity: 0.5;

}

.reasons .title p {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #2B2D6B;
    margin-bottom: 50px;
    min-width: 372px;
}

.reasons .values {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.value-item {
    padding-left: 32px;
    position: relative;
    border-left: 1px solid #989CFF;
}

.value-item::before {
    position: absolute;
    left: -1.58px;
    content: '';
    height: 40px;
    width: 2px;
    background: #666BFF;

}

.value-item img {
    max-width: 50px;
    margin-bottom: 40px;
}

.value-item h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F172A;
    margin-bottom: 24px;
}

.value-item p {
    line-height: 24px;
    color: #334155;
    width: 220px;
}

.reviews {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;

}

.reviews img {
    position: absolute;
    bottom: -150px;
    left: 2%;
    z-index: -1;
}

.reviews h6 {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #334155;
    width: fit-content;
    margin: 0 auto 12px auto;
}

.reviews h6::before {
    position: absolute;
    content: '';
    background: #F3AAFF;
    opacity: 0.5;
    width: 52px;
    height: 8px;
    top: 8px;
    right: -5px;
}

.reviews h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #2B2D6B;
    width: 372px;
    margin: 0 auto;
}

.reviews-details {
    width: 100%;
    padding: 55px 130px;
    background: #666BFF;
    display: flex;
    justify-content: space-between;
    column-gap: 128px;
    height: 472px;
}

.reviews-details .review {
    text-align: center;
}

.reviews-details .review-1 {
    border-right: 1px solid #F0F0FF;
    padding-right: 128px;
}

.review img {
    margin-bottom: 48px;
}

.review .text {
    font-size: 20px;
    font-style: italic;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #F0F0FF;
    margin-bottom: 56px;
}

.review .id {
    width: 62px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #F0F0FF;
    margin: 0 auto;
}

.faq {
    display: flex;
    justify-content: space-between;
    column-gap: 94px;
    padding: 120px;
}

.faq .title {
    width: 372px;
}

.faq .title h5 {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #334155;
    margin-bottom: 12px;
}

.faq .title h5::before {
    position: absolute;
    content: '';
    background: #F3AAFF;
    width: 36px;
    height: 8px;
    opacity: 0.5;
    bottom: 0;
    left: 8px;
}

.faq .title p {
    color: #2B2D6B;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.faq .questions {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 70%;
}

.faq .question {
    padding-bottom: 24px;
    border-bottom: 1px solid #8794A7;
    color: #334155;
    height: 50px;
    transition: 1.4s ease-in-out;
}

.faq .question.reveal {
    height: auto;
}

.faq .question .answer {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    display: none;
    margin-top: 8px;
    transition: .5s ease-in-out;
}

.question.reveal .answer {
    display: block;

}

.question-item img {
    cursor: pointer;
}

.question.reveal img {
    transform: rotateX(180deg);
}

.questions .question-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.question-item p {
    font-size: 16px;
    line-height: 24px
}

.subscribe {
    padding: 0 120px;
    margin-bottom: 80px;
}

.subscribe .container {
    width: 100%;
    display: flex;
    column-gap: 155px;
    align-items: center;
    justify-content: space-between;
    background: #666BFF;
    border-radius: 4px;
    padding: 26px 64px;
}

.container .illust {
    max-width: 100%;
}

.subscribe .cta {
    width: 393px;
    color: #FFFFFF;
}

.subscribe .cta h5 {
    font-weight: 500;
    font-size: 28px;
    line-height: 44px;
    margin-bottom: 16px;
}

.subscribe .cta p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
}

.subscribe-form {
    display: flex;
    column-gap: 24px;

}

::placeholder {
    color: #E8E8E8;
    font-size: 12px;
    line-height: 14px;
}

.subscribe-form input {
    outline: none;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 4px;
}

.subscribe-form button {
    background: #FFFFFF;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #FFFFFF;
    outline: none;
    border-radius: 4px;
    color: #666BFF;
    padding: 8px 24px;
    cursor: pointer;
}

footer {
    padding: 0 120px 85px 120px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    column-gap: 300px;
    padding-bottom: 42px;
    border-bottom: 1px solid #94A3B8;
}

.container .socials-logo {
    width: 205px;
}

.socials-logo p {
    font-size: 14px;
    line-height: 22px;
    color: #334155;
    margin-top: 8px;
    margin-bottom: 26px;
}

.socials-logo .socials {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.container .footer-items {
    display: flex;
    column-gap: 72px;
}

.footer-items .item h6 {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #1E293B;
    margin-bottom: 16px;

}

.footer-items .item h6::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -8px;
    width: 40px;
    height: 3px;
    background-color: #94A3B8;
    opacity: .5;
}

.footer-items .item p {
    font-size: 14px;
    line-height: 22px;
    color: #334155;
    margin-bottom: 15px;
}

footer .copy {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

footer .copy p {
    font-size: 14px;
    line-height: 22px;
    color: #515A65;
}

.copy .copyright {
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.copy .copyright p {
    font-size: 14px;
    line-height: 16px;
    color: #6D6D71;
}

/*  Get Started Page */

main .getStarted-Intro {
    margin-top: 122px;
    width: 100%;
    height: 280px;
    background: #666BFF;
    background-image: url(/assets/Get\ Started/triangle-bg.svg);
    background-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-bottom: 48px;
}

.getStarted-Intro h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 16px;
}

.getStarted-Intro p {
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.01em;
}

.incorp-services {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 120px;
    margin-bottom: 300px;
}

.incorp-services h2 {
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #2B2D6B;
    margin-bottom: 12px;
    justify-content: start;
}

.incorp-services-container {
    width: 930px;
    border: 1px solid #E8E8E8;
    border-radius: 7px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    flex-wrap: wrap;

}

.incorp-services-container .service {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #E8E8E8;
}

.service .service-details {
    display: flex;
    column-gap: 16px;
    align-items: start;
}

.service .start {
    background: #696EFF;
    border-radius: 24px;
    padding: 10px;
    outline: none;
    border: none;
    width: 96px;
    height: 32px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.service ul {
    list-style-position: inside;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #475569;
}

.service ul li {
    margin-bottom: 6px;
}

.service .info {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    width: 348px;
    color: #666BFF;
    margin-left: 20px;
}

/*  Incorporation Page */

main .incorp-hero {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 200px;
    align-items: center;
    border-bottom: 1px solid #CBD5E1;
    padding-bottom: 80px;

}

main .incorporation-container {
    padding: 0 120px;
    margin-bottom: 40px;
}

.incorp-hero .details {
    width: 540px;
}

.incorp-hero .details .title {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #334155;
    margin-bottom: 12px;
}

.incorp-hero .details .title::before {
    position: absolute;
    content: '';
    width: 110px;
    height: 10px;
    left: 16px;
    top: 8px;
    background: #F3AAFF;
    opacity: 0.5;
}

.incorp-hero .details .intro {
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    color: #2B2D6B;
    margin-bottom: 36px;
}

.incorp-hero .details .text {
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #334155;
    margin-bottom: 48px;
}

.incorp-hero .details a {
    background: #666BFF;
    border-radius: 4px;
    padding: 14px 42px;
    color: white;
    border: none;
    outline: none;
}

main .incorporation-services {
    padding: 0 120px 80px 120px;
    position: relative;
}

main .design {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
}

.incorporation-services .heading {
    margin-bottom: 82px;
    text-align: center;
    margin: 0 auto 64px auto;
    width: 372px;
}

.heading p {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #334155;
    margin-bottom: 8px;
}

.heading p::before {
    position: absolute;
    content: '';
    width: 175px;
    height: 10px;
    left: 115px;
    top: 8px;
    background: #F3AAFF;
    opacity: 0.4;
}

.heading h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #2B2D6B;
}

.services-list {
    display: flex;
    justify-content: space-between;
    column-gap: 53px;
}


.services-list h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1E293B;
    margin-bottom: 16px;
}

.icon-box {
    width: 64px;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #F0F0FF;
    box-shadow: 0px 4px 12px rgba(156, 159, 255, 0.15);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

}

.bisRegList {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 12px;
}

.bisRegList p {
    font-size: 14px;
    line-height: 16px;
    color: #475569;
}

.get-started {
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-top: 24px;
}

.get-started a {
    text-decoration: underline;
    color: #666BFF;

}

.TIN,
.seal {
    width: 311px;
}

.TIN p,
.seal p {
    font-size: 14px;
    line-height: 22px;
    color: #475569
}

.whyVenlab {
    display: flex;
    background: #666BFF;
    justify-content: space-between;
    column-gap: 86px;
    padding: 46px 120px;
}

.text-details .advantage {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #C195FF;
}

.text-details h4 {
    color: white;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    width: 440px;
    margin-bottom: 56px;
}

.why {
    padding-left: 24px;
    border-left: 1px solid #B9BBFF;
    margin-bottom: 40px;

}

.why h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.why p {
    line-height: 24px;
    color: #CBD5E1;
}

.readFAQ-container {
    width: 100%;
    margin-bottom: 72px;
    padding: 30px 120px;
}

.readFAQ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    border-bottom: 1px solid #CBD5E1;
    padding-bottom: 30px;
}

.readFAQ h6 {
    font-size: 22px;
    line-height: 35px;
    color: #1E293B;
}

.readFAQ a {
    padding: 10px 30px;
    background: #666BFF;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    white-space: nowrap;
}


/* Media Queries for Mobile */

@media (max-width:767px) {
    header .cta {
        width: 100%;
        height: 96px;
        flex-direction: column;
        row-gap: 4px;
        font-size: 12px;
    }

    .hamburger {
        display: block;
    }

    header .nav-header {
        padding: 0 32px;
        height: 48px;
    }

    nav {
        display: none;
        width: 100%;
        row-gap: 24px;
        left: 0;
        height: 270px;
        position: absolute;
        flex-direction: column;
        top: 48px;
        background-color: #F0F0FF;
        padding: 32px;
        z-index: 50;
        font-weight: 300;
        color: #2B2D6B;
        animation: drop 1s linear;
    }

    nav a {
        color: #2B2D6B;
    }

    .show {
        display: flex;
    }

    .getStarted {
        display: none;
    }

    .getStartedMob {
        display: block;
        text-align: center;
        padding: 8px 32px;
        height: 40px;
        background: #666BFF;
        border-radius: 4px;
        color: white;
        font-size: 14px;
        font-weight: 400;
    }

    main .blur {
        max-width: 120px;
        max-height: 120px;
        top: -80px;
        left: 50px;
    }

    main .spiral {
        max-width: 83px;
        left: 60px;
        top: -73px;
    }


    main .blur2 {
        display: none;
    }

    .hero {
        flex-direction: column;
        padding: 0 32px;
        align-items: start;
        margin-top: 200px;
    }


    .hero .text {
        width: 100%;
        max-width: 468px;
    }

    .hero .text h1 {
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
    }

    .hero .text p {
        width: 100%;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
    }

    #getStarted {
        display: block;
    }

    .hero .mask2 {
        width: 100%;
        margin: 40px auto 0 auto;
        min-height: 100%;

    }

    #TIN {
        display: none;
    }

    .products {
        width: 100%;
        height: auto;
    }

    .products-intro h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }

    .products-intro .text {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #697483;
        margin-bottom: 0;
    }

    .incorporation {
        position: relative;
        width: 100%;
        padding: 0 32px;
        flex-direction: column;
    }

    .incorporation .main-img {
        width: 100%;
        min-height: 280px;
        margin-top: 56px;
        margin-bottom: 16px;
    }

    .incorp-details h4 {
        color: #515A65;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 14px;

    }

    .incorp-details h4::before {
        height: 3px;
    }

    .incorp-details h3 {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 16px;
        max-width: 468px;
    }

    .incorp-details .incorp-list {
        margin-top: 16px;
    }

    .incorp-list .left {
        row-gap: 16px;
    }

    .list img {
        max-width: 12px;
        max-height: 12px;
    }

    .list p {
        color: #475569;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
    }

    .more {
        margin-top: 32px;
        /* margin-bottom: 120px; */

    }

    .more img {
        max-width: 16px;
        max-height: 16px;
    }

    .more a {
        font-size: 14px;
    }

    .reasons {
        padding: 0 32px;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .reasons .title {
        margin-bottom: 43px;
    }

    .reasons .title h5 {
        color: #515A65;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 18px;
    }

    .reasons .title h5::before {
        left: 8px;
        width: 80px;
        height: 5px;
    }

    .reasons .title p {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        min-width: 236px;
    }

    .reasons .values {
        grid-template-columns: 1fr;
    }

    .value-item img {
        max-width: 35px;
        margin-bottom: 24px;
    }

    .value-item h5 {
        font-size: 16px;
        line-height: 18px;
        color: #0B1239;
    }

    .value-item p {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        width: 100%;
        max-width: 400px;
    }

    .reviews {
        margin-bottom: 40px;
    }

    .reviews img {
        display: none;
    }

    .reviews h6 {
        font-size: 12px;
        line-height: 14px;
        color: #515A65;
    }

    .reviews h5 {
        font-size: 20px;
        line-height: 23px;
        width: 235px;
    }

    .reviews-details {
        padding: 24px 32px;
        flex-direction: column;
        height: auto;
    }

    .reviews-details .review {
        text-align: left;
    }

    .reviews-details .review-1 {
        border-bottom: 1px solid #F0F0FF;
        padding-bottom: 40px;
        border-right: none;
        padding-right: 0;
        margin-bottom: 40px;
    }

    .review .text {
        font-size: 14px;
        margin-bottom: 40px;
        width: 100%;
        text-align: left;
    }

    .review .id {
        text-align: left;
        margin: 0;
        font-size: 12px;
    }

    .faq {
        padding: 80px 32px;
        flex-direction: column;
    }

    .faq .title {
        width: 236px;
        max-width: 100%;
        margin-bottom: 43px;
    }

    .faq .title h5 {
        font-size: 12px;
        line-height: 14px;
        color: #515A65;
    }

    .faq .title h5::before {
        width: 32px;
        height: 6px;
        left: 6px;
        top: 8px;

    }

    .faq .title p {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #2B2D6B;
    }

    .faq .questions {
        width: 100%;
    }

    .faq .question {
        padding-bottom: 16px;
        border-bottom: 1px solid #8794A7;
    }

    .questions .question-item {
        margin-bottom: 6px;

    }

    .question-item p {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
    }

    .subscribe {
        padding: 0 32px;
    }

    .subscribe .container {
        flex-direction: column;
        padding: 32px 24px;
    }

    .subscribe .cta {
        width: 100%;
    }

    .subscribe .cta h5 {
        font-size: 16px;
        line-height: 24px;
        width: 237px;
    }

    .subscribe .cta p {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        width: 237px;
    }

    .subscribe-form {
        width: 100%;
        flex-direction: column;
        margin-bottom: 56px;
    }

    .subscribe-form input {
        margin-bottom: 24px;
    }

    footer {
        padding: 0 32px;
        text-align: center;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container .socials-logo {
        margin-bottom: 43px;
    }

    .socials-logo p {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px
    }

    .socials-logo .socials {
        justify-content: center;
    }

    .container .footer-items {
        flex-direction: column;
        row-gap: 40px;
    }

    .footer-items .item h6::before {
        width: 40px;
        height: 2px;
        left: 55px;
    }

    .footer-items .item p {
        font-weight: 300;
    }

    footer .copy {
        flex-direction: column;
        text-align: center;
        align-items: center;
        row-gap: 16px;
        padding-bottom: 100px;
        font-weight: 300;
    }

    @keyframes drop {
        from {
            top: 1px;
        }

    }

    /* Get Started Page */
    main .getStarted-Intro {
        background-size: 24px;
        height: 130px;
        margin-top: 147px;
        margin-bottom: 26px;
    }

    .getStarted-Intro h1 {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 8px;
    }

    .getStarted-Intro p {
        font-size: 14px;
        line-height: 16px;
    }

    .incorp-services {
        margin-bottom: 33px;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 32px;
    }

    .incorp-services h2 {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 24px
    }

    .incorp-services-container {
        width: 100%;
        padding: 24px;
        width: 100%;

    }

    .incorp-services-container .service {
        flex-direction: column;
        padding-bottom: 32px;

    }

    .service .service-details {
        flex-direction: column;
        row-gap: 16px;


    }

    .service-details img {
        width: 24px;
        height: 24px;


    }

    .service .start {
        border-radius: 7px;
        width: 96px;
        height: 32px;
        margin-top: 23px;
    }

    .service ul {
        margin-left: 8px;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 6px;
    }

    .service .info {
        font-size: 12px;
        line-height: 18px;
        margin-left: 17px;
        margin-top: 6px;
        width: 200px;
        max-width: 100%;
    }

    /*  Incorporation Page */

    main .incorp-hero {
        flex-direction: column;
        margin-top: 200px;
        width: 100%;
        padding-bottom: 40px;
    }

    main .incorporation-container {
        padding: 0 32px;
    }

    .incorp-hero .heroImg {
        width: 100%;
    }

    .incorp-hero .details {
        margin-bottom: 40px;
        width: 100%;
    }

    .incorp-hero .details .title {
        font-size: 12px;
        line-height: 14px;
    }

    .incorp-hero .details .title::before {
        width: 96px;
        height: 8px;
        left: 12px;
        top: 8px;
    }

    .incorp-hero .details .intro {
        margin-bottom: 16px;
        font-size: 28px;
        line-height: 42px;
        color: #192A88;
        max-width: 468px;
    }

    .incorp-hero .details .text {
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 32px;
        max-width: 468px;

    }

    .incorp-hero .details a {
        padding: 8px 32px;
    }

    main .incorporation-services {
        padding: 0 32px 80px 32px;
    }

    .incorporation-services .heading {
        margin-bottom: 40px;
        width: 236px;
    }

    .heading p {
        font-size: 12px;
        line-height: 14px;
        font-size: 12px;
        color: #515A65;
        margin-bottom: 18px;
    }

    .heading p::before {
        width: 156px;
        height: 8px;
        left: 49px;
        top: 8px;
    }

    .heading h2 {
        font-size: 20px;
        line-height: 23px;
    }

    .services-list {
        flex-direction: column;
        row-gap: 40px;
    }

    .services-list h3 {
        font-size: 16px;
        line-height: 18px;
    }

    .icon-box {
        width: 48px;
        height: 48px;
        margin-bottom: 24px;
    }

    .TIN,
    .seal {
        width: 100%;
    }

    .bisRegList p,
    .TIN p,
    .seal p {
        font-weight: 300;
        max-width: 390px;
    }

    .whyVenlab {
        flex-direction: column;
        padding: 43px 32px;
    }

    .text-details .advantage {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .text-details h4 {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 40px;
        width: 70%;
    }

    .why {
        padding-left: 16px;
        margin-bottom: 24px;
    }

    .why h5 {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 18px;
    }

    .why p {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
    }

    .readFAQ-container {
        padding: 40px 32px 26px 32px;
        margin-bottom: 40px;
    }

    .readFAQ h6 {
        font-size: 16px;
        line-height: 18px;
        color: #2B2D6B;
    }

    .readFAQ a {
        padding: 8px 20px;
    }

    .design {
        display: none;
    }
}

/* Media Queries for Tablets */
@media (min-width:768px) and (max-width:1224px) {
    header .nav-header {
        padding: 0 60px;
    }

    nav {
        column-gap: 30px;
    }

    nav a,
    nav p {
        font-size: 14px;
    }

    main .blur,
    main .blur2 {
        top: -105px;
        max-width: 220px;
        max-height: 220px;
    }

    main .spiral {
        top: -71px;
        left: 81px;
    }

    .hero {
        padding: 0 60px;
        margin-top: 150px;
    }

    .hero .text {
        max-width: 400px;
    }

    .hero .text p {
        width: auto;
        font-size: 16px;
        line-height: 22px;
    }

    .hero .text h1 {
        font-size: 30px;
        line-height: 36px;
    }

    .hero .mask2 {
        min-height: auto;
    }

    .products-intro .text {
        font-size: 14px;
    }

    .incorporation {
        padding: 0 80px;
        column-gap: 30px;
    }

    .incorporation .main-img {
        min-height: 350px;
        width: 350px;
    }

    .incorp-details h3 {
        font-size: 17px;
        line-height: 22px;
    }


    .list p {
        font-size: 12px;
    }

    .more a {
        font-size: 14px;
    }

    .reasons {
        padding: 0 60px;
        column-gap: 40px;
    }

    .reasons .title {
        height: fit-content;
    }

    .reasons .title p {
        font-size: 22px;
        line-height: normal;
        min-width: 200px;
    }

    .value-item {
        padding-left: 14px;
    }

    .value-item p {
        width: 180px;
        font-size: 14px;
    }

    .reviews-details {
        padding: 55px 60px;
        height: auto;
        column-gap: 68px;
    }

    .reviews-details .review-1 {
        padding-right: 68px;
    }

    .review .text {
        font-size: 14px;
    }

    .faq {
        padding: 60px;
        column-gap: 40px;
    }

    .faq .title p {
        font-size: 22px;
        line-height: 30px;
    }

    .question-item p {
        font-size: 14px;
    }

    .subscribe {
        padding: 0 60px;
    }

    .subscribe .cta h5 {
        font-size: 22px;
        line-height: 30px;
    }

    .subscribe .container {
        padding: 22px 52px;
        column-gap: 40px;
    }

    .subscribe .cta {
        width: 50%;
    }

    .container .illust {
        max-width: 50%;
    }

    footer {
        padding: 0 60px 45px 60px;
    }

    footer .container {
        column-gap: 60px;
    }

    .container .footer-items {
        column-gap: 35px;
    }

    .footer-items .item h6 {
        font-size: 14px;
        line-height: 20px;
    }

    .footer-items .item p {
        font-size: 12px;
        line-height: 12px;
    }

    /* Incorporation Page */
    main .incorporation-container {
        padding: 0 60px;
    }

    main .incorp-hero {
        column-gap: 18px;
    }

    .incorp-hero .details {
        max-width: 400px;
    }

    .incorp-hero .details .text {
        width: auto;
        font-size: 16px;
        line-height: 22px;
    }

    .incorp-hero .details .intro {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 18px;
    }

    .incorp-hero .heroImg {
        max-width: 300px;
        height: 340px;
    }

    main .incorporation-services {
        padding: 0 60px 40px 60px;
    }

    .services-list h3 {
        font-weight: 700;
        font-size: 14px;
    }

    .services-list {
        width: 100%;
        column-gap: 40px;
    }

    .icon-box {
        margin-bottom: 24px;
    }

    .TIN,
    .bisReg,
    .seal {
        width: 33%;
    }

    .get-started a {
        font-size: 14px;
    }

    .whyVenlab {
        padding: 40px 60px;
        column-gap: 40px;
        margin-bottom: 40px;
        width: 100%;
    }

    .whyVenlab .text-details,
    .whyVenlab img {
        width: 50%;
    }

    .text-details h4 {
        font-size: 24px;
        width: 400px;
        line-height: 36px;
    }

    .readFAQ-container {
        padding: 20px 60px;
    }

    /* Get Started Page */
    .getStarted-Intro h1 {
        font-size: 38px;
    }

    .incorp-services {
        width: 100%;
    }

    .incorp-services-container {
        width: 100%;
        min-width: 650px;
    }

    .service ul li {
        font-size: 14px;
    }
}